body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";font-size:14px;}
#l-map{height:300px;width:100%;}
#r-result,#r-result table{width:100%; clear:both;}
#routePanel p{float:left;}
.tab-div {background:#EEF8F9;border:1px solid #BBDDE5;margin:0 0 10px 0;padding:1px;}
#tabbar-div p {height: 0.35rem;outline: 0.01rem solid #b5b5b5;line-height: 0.35rem;padding-left: 0.4rem;}
#tabbar-div p span {color: #1b1b1b;font-size: 0.12rem;padding:0 0.18rem;display:block;float: left;}
.tab-front {cursor:pointer;border-right:0.01rem solid #b5b5b5;font-weight: bold;text-decoration: underline;}
#tabbar-div p span img {width: 0.21rem;height: 0.22rem;vertical-align: middle;margin-right: 0.03rem;}
.label button {border:none;background: #fff;outline: 0.01rem solid #b5b5b5;padding:0.05rem 0.1rem;}
.label input {padding:0.05rem 0.1rem;}
.tab-back {border-right:0.01rem solid #b5b5b5; }
.tab-hover {border-right:1px solid #FFF;}
#tabbody-div {width: 6rem;float: right;padding:0.15rem; background:#FFF;}
.map-head .title{height:0.34rem; background:#e5e5e5;text-align: center;line-height: 0.34rem;margin-top: 0.3rem;}
.map-head .title h1 {font-size: 0.18rem;color: #434343;position: relative;display: inline-block;padding-left: 0.52rem;}
.map-head .title h1:before {content: '';position: absolute;left: 0;width: 0.37rem;height: 0.34rem;background: url(../images/map-head.png) no-repeat center center;background-size:100%; }
.map-head p {width: 5.55rem;margin: 0 auto;font-size: 0.16rem;color: #535353;padding-left: 0.28rem;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;position: relative;}
.map-head p b {color: #313131;}
.map-head .map-a {margin-top: 0.2rem;}
.map-head .map-p {margin-bottom: 0.2rem;}
.map-head .map-a:before {content: '';position: absolute;left: 0;width:0.16rem;height: 0.19rem; background:url(../images/map1.png) no-repeat center center;background-size:100%;}
.map-head .map-p:before {content: '';position: absolute;left: 0;width:0.16rem;height: 0.16rem; background:url(../images/map-phone.png) no-repeat center center;background-size:100%;}
.map-box {height:0.34rem; background:url(../images/map-bg.png);text-align: center;line-height: 0.34rem;}
.map-box h1 {font-size: 0.12rem;color: #556fb5;position: relative;display: inline-block;padding-left: 0.3rem;}
.map-box h1:before {content: '';position: absolute;left: 0;width: 0.21rem;height: 0.34rem;background: url(../images/map-lookup.png) no-repeat center center;background-size:100%; }
.map-cont {overflow: hidden;margin-top:0.35rem; }
.mB {border-bottom: 0.1rem solid #eee;}
.map-cont .lititle,.map-cont .dltitle {color:#8957a1;font-size: 0.2rem;font-weight: bold;position: relative;border-bottom: 0.01rem solid #e5e5e5;margin-bottom: 0.15rem;padding-bottom: 0.05rem;}
.map-cont .lititle {padding-left: 0.5rem; }
.map-cont .dltitle {padding-left: 0.4rem; }
.map-cont .lititle:before,.map-cont .dltitle:before {content: '';position: absolute;left: 0;}
.map-cont .lititle:before {width: 0.39rem;height: 0.26rem;background: url(../images/map-bus.png) no-repeat center center;background-size:100%;}
.map-cont .dltitle:before {width: 0.31rem;height: 0.31rem;background: url(../images/map-metor.png) no-repeat center center;background-size:100%;}
.map-cont dl {width: 6.2rem;float: right;overflow: hidden;}
.map-cont dl dt {font-size: 0.18rem;color: #313131;padding-left: 0.4rem;font-weight: bold;position: relative;margin-bottom: 0.12rem;}
.map-cont dl dd {color: #313131;font-size: 0.15rem;margin-bottom: 0.3rem;}
.map-cont dl dt:before {content: '';position: absolute;left: 0;width: 0.32rem;height: 0.34rem;background: url(../images/map-1.png) no-repeat center center;}
.map-cont dl .t1:before {background: url(../images/map-1.png) no-repeat center center;background-size:100%;}
.map-cont dl .t2:before {background: url(../images/map-2.png) no-repeat center center;background-size:100%;}
.map-cont dl .t3:before {background: url(../images/map-3.png) no-repeat center center;background-size:100%;}